/* 1. Reset / base */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 2. Base document styles */
html {
    font-size: 16px;
}

body {
    min-height: 500px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.6;
    color: #111;
    background-color: #f5f5f5;
}

/* 3. Images */
img {
    max-width: 100%;
    display: block;
}

/* 4. Links */
a {
    color: inherit;
    text-decoration: none;
}

/* 5. Headings */
h1,
h2,
h3 {
    line-height: 1.2;
    font-weight: 600;
}

/* basic reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hero {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    outline: 2px solid green;

}

/* left column */
.hero-text {
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    max-width: 38ch;
    gap: 4rem;

    outline: 2px solid red;
}

.hero-heading h1 {
    line-height: 1.05;
    font-family: "Radley", "Times New Roman", serif;
    font-weight: 400;

    outline: 2px solid blue;
}

.hero-about p {
    font-family: "Roboto", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    line-height: 1.6;

    outline: 2px solid blue;
}

/* right column */

.hero-image img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;

    outline: 2px solid red;
}