/* Fonts */
@font-face {
    font-family: "Radley";
    src: url("fonts/Radley-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Radley";
    src: url("fonts/Radley-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

/* 1. Reset / base */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 2. Base document styles */
html {
    font-size: 10px;
}

body {
    min-height: 500px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.6;
    color: black;
    background-color: #f5f5f5;
}

/* 3. Images */
img {
    max-width: 100%;
    display: block;
}

/* 4. Links */
a {
    color: inherit;
    text-decoration: none;
}

/* 5. Headings */
h1,
h2,
h3 {
    line-height: 1.2;
    font-weight: 400;
}

/* basic reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hero {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(1.5rem, 5vw, 7rem);

    outline: 2px solid green;

}

/* left column */
.hero-info {
    display: flex;
    flex-direction: column;
    font-size: clamp(2rem, 2.5vw, 24px);
    max-width: 36ch;
    gap: 7rem;
    /*outline: 2px solid red;*/
}

.hero-heading h1 {
    line-height: 1.05;
    font-family: "Radley", "Times New Roman", serif;
    font-weight: 400;
    white-space: nowrap;

    /*outline: 2px solid blue;*/
}

.hero-about p {
    font-family: "Roboto", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    line-height: 1.6;

    /*outline: 2px solid blue;*/
}

.hero-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                    </svg>
.btn {
    display: inline-flex;
    align-items: center;
    /* vertical centering */
    justify-content: center;
    /* space between icon & text */
    border: 2px solid black;
    background: whitesmoke;
    color: black;
    padding: 0.75rem 1.5rem;
    border-radius: 20px;
    width: 120px;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}

/* right column */

.hero-image {
    max-width: 500px;
    height: auto;
    display: flex;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.75);
    overflow: hidden;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}